<!DOCTYPE html>
<html lang="en">
   
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Fashi-adminLogin</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/stylesheets/adminCss/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="/stylesheets/adminCss/css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="/stylesheets/adminCss/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="/stylesheets/adminCss/css/colors.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="/stylesheets/adminCss/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="/stylesheets/adminCss/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="/stylesheets/adminCss/css/custom.css" />
      <!-- calendar file css -->
      <link rel="stylesheet" href="/javascripts/adminJs/semantic.min.js" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>

   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                        <img width="210" src="/images/adminImg/images/layout_img/login_image.jpg"  />
                     </div>
                  </div>
                  <div class="login_form">
                     <form action="/adminLogged" method="post">
                        <fieldset>
                           <div class="field">
                              <label class="label_field">Email Address</label>
                              <input type="email" name="adminEmail" placeholder="E-mail" />
                           </div>
                           <div class="field">
                              <label class="label_field">Password</label>
                              <input type="password" name="adminPassword" placeholder="Password" />
                           </div>
                           <div>
                              <p class="text-danger">{{error}}</p>
                           </div>
                           <div class="field margin_0">
                              <label class="label_field hidden">hidden label</label>
                              <button class="main_bt">Sing In</button>
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="/javascripts/adminJs/js/jquery.min.js"></script>
      <script src="/javascripts/adminJs/js/popper.min.js"></script>
      <script src="/javascripts/adminJs/js/bootstrap.min.js"></script>
      <!-- wow animation -->
      <script src="/javascripts/adminJs/js/animate.js"></script>
      <!-- select country -->
      <script src="/javascripts/adminJs/js/bootstrap-select.js"></script>
      <!-- nice scrollbar -->
      <script src="/javascripts/adminJs/js/perfect-scrollbar.min.js"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="/javascripts/adminJs/js/custom.js"></script>
   </body>
</html>